.div-login{
    padding-top: 5em;
    height: 650px ;
    width: 100%;
    background-image: url("login.png");
    background-size: cover;
    background-position: center;
    padding-top: 9em;
}

.contenedorLogin{
    background-color: #7c808573;
    padding: 3em;
}
.div-register{
    margin-bottom: -2em;
}
.text-register{
    margin-bottom: -3em;
}
.registro-next{
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.registro-next-a{
    color: rgb(12, 89, 156);
    text-shadow: 2px 2px 2px rgb(182, 182, 182);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}