@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


.home-div{
    padding-top: 5em;
    overflow-x:hidden
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    background-color: white;
}

.imagen_fondo{
    width: 100%;
}


.container-fluid2{
    height: 750px ;
    width: 100%;
    background-image: url("imagen_fondo2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.titulos{
    padding-top: 10em;
}
.titulo-principal{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-shadow: 2px 2px 7px #CECECE;
}
.parrafo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 7px #CECECE;
}

.card-vuelo{
    background-color: #e5ecff;
    border-radius: 20px;
}

.carousel-inner{
    height: 100px;
}
.carousel-item{
    width: 5em;
}
.vuelos-recomendados{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 4px;
}
.title-card{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.p-card{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.bloque-1{
    background-color: #e5ecff;
    height: auto;
}
.bloque-2{
    padding-top: 5em;
    padding-bottom: 5em;
}
.bloque-4{
    background-color: #e5ecff;
    height: auto;
}
.img-previaje{
    background-image: url("previaje.png");
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
}
.textbutton{
    background-color: #2955CC;
    color: white;
    text-decoration: none;
}
.textbutton:hover{
    color: white;
    background-color: #2631b8;
}
.link-button{
    text-decoration: none;
}



@media (max-width: 768px){
    .bloque-2{
        height: 400px;
    }
    .bloque-3{
        display: none;
    }
}


@media (max-width: 768px){
    .titulo-principal{
        font-size: 1.5em;
    }
    .parrafo{
        font-size: .8em;
    }

}