
.categorias{
    font-weight: bold;
}
.admin-div{
    padding-top: 5em;
}
.btn-admin{
    background-color: #2955CC;
    color: white;
    text-decoration: none;
}
.btn-admin:hover{
    color: white;
    background-color: #2631b8;
}
.panel{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;;
}